/* ==========================================================================
   Page title
   ========================================================================== */

.c-page-title {
    margin-bottom: 1.826em;
    font-size: responsive 18px 23px;
    text-align: center;
}
